{
  "semi": true,
  "jsxBracketSameLine": true,
  "proseWrap": "never",
  "embeddedLanguageFormatting": "off",
  "tabWidth": 2,
  "importOrder": [
    "^components/(.*)$",
    "^types/(.*)$",
    "^lib/(.*)$",
    "^stores/(.*)$",
    "^queries/(.*)$",
    "^generated/(.*)$",
    "^assets/(.*)$",
    "^styles/(.*)$",
    "^[./]",
    "^[./(.scss|.css)]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
