/**
 * Module to manage and control page's typography.
 * This module is applied in tailwind's base layer.
 */

@layer base {
  /** Sans font */
  @font-face {
    font-family: "secularone";
    font-weight: 400;
    src: url("/fonts/sans/secularone-400.woff2") format("woff2"),
      url("/fonts/sans/secularone-400.ttf") format("truetype");
  }

  /** Body font */
  @font-face {
    font-family: "redhatdisplay";
    font-weight: 400;
    src: url("/fonts/body/redhatdisplay-400.woff2") format("woff2"),
      url("/fonts/body/redhatdisplay-400.ttf") format("truetype");
  }
  @font-face {
    font-family: "redhatdisplay";
    font-weight: 500;
    src: url("/fonts/body/redhatdisplay-500.woff2") format("woff2"),
      url("/fonts/body/redhatdisplay-500.ttf") format("truetype");
  }
  @font-face {
    font-family: "redhatdisplay";
    font-weight: 600;
    src: url("/fonts/body/redhatdisplay-600.woff2") format("woff2"),
      url("/fonts/body/redhatdisplay-600.ttf") format("truetype");
  }
}

p {
  /** TODO|NOTE: Redhat Display is little bit hard to read IMO. */
  @apply tracking-wider;
}
