@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "secularone";
    font-weight: 400;
    src: url("/fonts/secularone-400.woff2") format("woff2"),
      url("/fonts/secularone-400.ttf") format("truetype");
  }
}
